@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  /* src: url("../../fonts/Roboto-Medium.ttf");
  src: url("../../fonts/Roboto-Regular.ttf"); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10pt;
  font-family: "Work Sans", sans-serif;
}
main {
  width: 30vw;
  margin: 20vh auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: seagreen 2px dashed; */
}

main div {
  background-color: #1e1f21;
  width: 7vw;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* triangle */
/* main div:hover {
  border-left: 3.5vw solid transparent;
  border-right: 3.5vw solid transparent;
  border-top: 7vw solid #1e1f21;
  background-color: transparent;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
main div:hover p {
  display: none;
} */

main div:active {
  background-color: tomato;
}

/* ===== maybe play later with that... ===== */
/* main div:hover {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 3.5vw;
  width: 7vw;
}
main div:hover div:before {
  content: "";
  position: flex;

  height: 3.5vw;
  width: 3.5vw;
  background: #1e1f21;
  transform: skew(0deg, 6deg);
}
main div:hover div:after {
  content: "";
  position: flex;

  height: 3.5vw;
  width: 3.5vw;
  background: #1e1f21;
  transform: skew(0deg, -6deg);
} */

main div:hover {
  animation-name: cross;
  animation-duration: 2s;
}
@keyframes cross {
  from {
    opacity: 1;
  }
}
to {
  opacity: 0;
}
.cross {
  opacity: 0;
}
*/ .cross {
  background: #1e1f21;
  height: 7vw;
  position: relative;
  width: 1.4vw;
}

.cross:after {
  background: #1e1f21;
  content: "";
  height: 1.4vw;
  left: -2.8vw;
  position: absolute;
  top: 2.8vw;
  width: 7vw;
}

p {
  color: azure;
  font-family: "Work Sans";
  font-size: 1.2rem;
}
