@font-face {
  font-family: "Work Sans";
  src: url("../fonts/WorkSans-Light.ttf");
  /* src: url("../../fonts/Roboto-Medium.ttf");
  src: url("../../fonts/Roboto-Regular.ttf"); */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}
main {
  width: 50vw;
  margin: 35vh auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: seagreen 2px dashed; */
}
main div {
  /* border: seagreen 2px dashed; */
  background-color: #1e1f21;
  width: 7.5vw;
  height: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about {
}
.projects {
}
.contact {
}
p {
  color: azure;
  font-family: "Work Sans";
  font-size: 1.4rem;
}
